Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.2
werkzeug==2.3.7
google-api-python-client==2.100.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
requests==2.31.0
python-dotenv==1.0.0
gunicorn==20.1.0
setuptools
gspread
psycopg2-binary
